##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################

Craftitem Index
{
        Title   <center>Menu de Forja</center>
        Skill   Blacksmithy
        SkillID Blacksmithy
	Group	Axes
	Group	Blades
	Group	Blunt
	Group	Polearms
	Group	Shields
	Group	RingMail
	Group	ChainMail
	Group	Platemail
	Group	Helmets
}

Craftitem RingMail
{
	Item		RingmailGloves
	Item		RingmailLeggings
	Item		RingmailSleeves
	Item		RingmailTunic
	Recipe		bustobariya
	Recipe		bracadeirasbariya
	Recipe		pernasbariya
	Recipe		luvasbariya
	Recipe		pescoceirabariya
	Bariyano	bustobariya
	Bariyano	bracadeirasbariya
	Bariyano	pernasbariya
	Bariyano	luvasbariya
	Bariyano	pescoceirabariya
}

Craftitem ChainMail
{
	Recipe		ChainmailCoif
	Recipe		ChainmailLeggings
	Recipe		ChainmailTunic
	Ferune 		malhaferune
	Recipe 		malhaferune
	Cazar		bustocouroCazarreforcado
	Cazar		bracoscouroCazarreforcado
	Cazar		pernascouroCazarreforcado
	Cazar		pescococouroCazarreforcado
	Recipe		bustocouroCazarreforcado
	Recipe		bracoscouroCazarreforcado
	Recipe		pernascouroCazarreforcado
	Recipe		pescococouroCazarreforcado
}

Craftitem Platemail
{
	Recipe		PlatemailBreastplate
	Recipe		PlatemailArms
	Recipe		PlatemailGloves
	Recipe		PlatemailGorget
	Recipe		PlatemailLegs
	Recipe		FemalePlate
	Recipe  	bustoclerigo
	Recipe  	bracosclerigo
	Recipe  	pernasclerigo
	Recipe  	luvasclerigo
	Recipe  	pescococlerigo
	Recipe  	capaceteclerigo
	Recipe  	bustoferun
	Ferune  	bustoferun
	Recipe  	bracosferun
	Ferune  	bracosferun
	Recipe  	pernasferun
	Ferune  	pernasferun
	Recipe  	luvasferun
	Ferune  	luvasferun
	Recipe  	pescocoferun
	Ferune  	pescocoferun
	Cazar		bustoCazarplacas
	Cazar		bracosCazarplacas
	Cazar		pescocoCazarplacas
	Cazar		pernasCazarplacas
	Recipe		bustoCazarplacas
	Recipe		bracosCazarplacas
	Recipe		pescocoCazarplacas
	Recipe		pernasCazarplacas
}

Craftitem Helmets
{
	Recipe		Bascinet
	Recipe		CloseHelm
	Recipe		Helmet
	Recipe		NoseHelm
	Recipe		PlateHelm
}

Craftitem Shields
{
	Item		RoundShield
	Item		Buckler
	Item		escudodavirtude

	Recipe		KiteShield
	Recipe		HeaterShield
	Recipe		MetalShield
	Balmute		escudowazif
	Recipe		escudowazif
}


Craftitem Axes
{
	Item		axe
	Item		DoubleAxe

	Recipe		ExecutionersAxe
	Recipe		LargeBattleAxe
	Recipe		TwoHandedAxe
	Recipe		WarAxe
	Recipe  	machadodebatalhaduegar
}

Craftitem Blunt
{
	Item		Mace
	Item		Maul
	Item		Scepter
	
	Recipe		HammerPick
	Recipe		WarMace
	Recipe		WarHammer
	Recipe		LightWarHammer
	Recipe 		clavadosgigantes
}

Craftitem Polearms
{

	Item		ShortSpear
	Item		Spear
	Item		WarFork
	Item		Scythe

	Recipe		Bardiche
	Recipe		Halberd
	Recipe		DoubleBladedStaff
	Recipe		BladedStaff
	Recipe		Pike
	Recipes		Lance
}

Craftitem Blades
{
	Item		Rapier
	Item		Cutlass
	Item		Dagger
	Item		Katana
	Item		Kryss
	Item		longsword
	Item		Scimitar
	Item		ShortScythe

	Recipe		VikingSword
	Recipe		GreatSword
	Recipe		CrescentBlade
	Recipe		kukri
	Recipe		karda
	Recipe		CimitarrasDuplas
	Recipe    	Garras
	Recipe 		yatagan
	Recipe 		espadacurta
}

#	Items Exclusos

#	Item		MorningStar
#	Item		DrowScimitar
#	Item		ElvenBlades
#	Item		HobbitSword
#	Item		Spike
#	Item		Claws
#	Item		BroadSword
#	Item		BattleAxe
#	Item		OrcAxe
#	Recipe 		escudodememmar
#	Recipe 		escudodeasan
#	Item		DwarfHelm
#	Recipe 		coifademalhavaniria
#	Recipe 		perneirasdemalhavaniria
#	Recipe 		grevasdemoniacas
#	Recipe		peitoraldemoniaco
#	Recipe 		laminasvanirias
#	Recipe 		cimitarradeaquil
#	Recipe 		facaodacaveira
#	Recipe 		cimitarradraconiana
#	Recipe 		macalaminada
#	Recipe 		elmododragao
#	Recipe 		elmodemoniaco
#	Recipe 		elmodezanshir
